<main>
    <section>
        <h3><br>Ocorrência Relevante<br>
            <strong>BO:</strong> {{ dados.boletim }}-{{ dados.versao }}/{{ dados.ano }}{{ '&nbsp;' * 15}}
            <span class="spacer">Unidade:</span> {{ dados.unidade_registro }}<br>
            {% if dados.flagrante %}
            <span class="spacer"></span>Flagrante
            {% endif %}
        </h3>
        <p><strong>Local do Fato:</strong>{{ dados.endereco_completo_fato }}</p>
        <p><strong>Hora do Fato:</strong> {{ dados.data_fato2 }}</p>
        <p><strong>Hora da Comunicação:</strong> {{ dados.data_comunicacao.strftime('%d/%m/%Y às %H:%M') if
            dados.data_comunicacao else "Não informado" }}</p>
    </section>

    <section>
        <h3>Naturezas da Ocorrência</h3>
        <ul class="item-list">
            {% for natureza in dados.naturezas %}
            <li>{{ natureza }}</li>
            {% endfor %}
        </ul>
    </section>

    <section>
        {% for categoria in ["Pessoas Físicas", "Pessoas Jurídicas"] %}
        {% if dados.get(categoria) %}
        <div class="section">
            <h3><br>{{ categoria }}</h3>
            <ul class="item-list">
                <p>
                    {% for item in dados[categoria] %}
                    {% set index = loop.index %}
                    {% for key, value in item.items() %}
                    {% if key == "tipo" and value %}
                    <span><strong> {{ index }}:</strong> {{value}} </span>
                    {% elif key == "fatal" and value %}
                    <strong>Fatal:</strong> {{'Sim' if value}}
                    {% elif key == "data_nascimento" and value %}
                    <strong>Data nasc:</strong> {{ item.data_nascimento.strftime('%d/%m/%Y') }}
                    {% elif value %}
                    <span><strong>{{ key | capitalize }}:</strong> {{ value }} </span>
                    {% endif %}
                    {% endfor %}
                </p>
                {% endfor %}

            </ul>
        </div>
        {% endif %}
        {% endfor %}
    </section>

    <section>
        {% for categoria in ["Veículos", "Objetos", "Armas e Acessórios", "Entorpecentes", "Cargas"] %}
        {% if dados.get(categoria) %}
        <div class="section">
            <h3><br>{{ categoria }}</h3>
            <ul class="item-list">
                {% for item in dados[categoria] %}
                <p>
                    {% set index = loop.index %}
                    {% for key, value in item.items() %}
                    {% if value %}
                    {% if key == 'situacao' %}
                    <strong>{{index}} {{ key | capitalize }}:</strong> {{value}}
                    {% elif categoria == 'Entorpecentes' and key == 'tipo' %}
                    <strong>{{index}} {{ key | capitalize }}:</strong> {{value}}
                    {% else %}
                    <strong> {{ key | capitalize }}:</strong> {{value}}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </p>
                {% endfor %}

            </ul>
        </div>
        {% endif %}
        {% endfor %}
    </section>


    <section>
        <h3>{% if opcao == 1 %}Histórico{% else %}Histórico Resumido{% endif %}</h3>
        <div class="item-list">
            {% if opcao == 1 %}
            {% for historico in dados.historico %}
            <p>{{ historico }}</p>
            {% endfor %}
            {% else %}
            {% for resumo in dados.resumo %}
            <p>{{ resumo }}</p>
            {% endfor %}
            {% endif %}
        </div>

    </section>

    <section>
        <h3>{{ dados.autoridade }}<br>
            Delegado de Polícia</h3>
    </section>
    <br>
    <hr>
</main>